<a href="https://colab.research.google.com/github/Mino94/Mino94.github.io/blob/master/K_beauty_%EC%98%A8%EB%9D%BC%EC%9D%B8_%ED%8C%90%EB%A7%A4_%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.1 K-Beauty는 성장하고 있을까? 해외 직접판매를 한다면 어느 국가로 판매전략을 세우면 좋을까?

출처 : 네이버 부스트 코스 https://www.boostcourse.org/ds112/lecture/59905/

In [6]:
# # google colab 사용
# from google.colab import files
# uploaded = files.upload()

Saving 국가_대륙_별_상품군별_온라인쇼핑_해외직접판매액_20210127132859.csv to 국가_대륙_별_상품군별_온라인쇼핑_해외직접판매액_20210127132859.csv

In [11]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

import os 
os.name

if os.name == "posix":
    sns.set(font="AppleGothic")
elif os.name == "nt":
    sns.set(font="Malgun Gothic")

In [12]:
%config InlineBackend.figure_format = 'retina'

In [16]:

df_raw = pd.read_csv('./국가_대륙_별_상품군별_온라인쇼핑_해외직접판매액_20210127132859.csv')
df_raw.shape

(450, 22)

In [18]:
df_raw[df_raw["국가(대륙)별"]== "미국"]

   국가(대륙)별          상품군별   판매유형별  ... 2020 1/4 2020 2/4 2020 3/4 p)
45      미국            합계       계  ...    48277    64225       53052
46      미국            합계     면세점  ...      698      339          81
47      미국            합계  면세점 이외  ...    47579    63886       52971
48      미국    컴퓨터 및 주변기기       계  ...     1182     1630        1923
49      미국    컴퓨터 및 주변기기     면세점  ...        0        0           0
50      미국    컴퓨터 및 주변기기  면세점 이외  ...     1182     1630        1923
51      미국    가전·전자·통신기기       계  ...     1830     2824        3286
52      미국    가전·전자·통신기기     면세점  ...       12        2           5
53      미국    가전·전자·통신기기  면세점 이외  ...     1818     2822        3281
54      미국         소프트웨어       계  ...      135      182         137
55      미국         소프트웨어     면세점  ...        0        0           0
56      미국         소프트웨어  면세점 이외  ...      135      182         137
57      미국           서 적       계  ...     2135     2404        2525
58      미국           서 적     면세점  ...        0        0           0
59      미국           서 적  면세점 이외  ...     2135     2404        2525
60      미국         사무·문구       계  ...       74       83          68
61      미국         사무·문구     면세점  ...        0        0           0
62      미국         사무·문구  면세점 이외  ...       74       83          68
63      미국     음반·비디오·악기       계  ...     4948     6981        6149
64      미국     음반·비디오·악기     면세점  ...        0        0           0
65      미국     음반·비디오·악기  면세점 이외  ...     4948     6981        6149
66      미국  의류 및 패션 관련상품       계  ...    12480    22360       17701
67      미국  의류 및 패션 관련상품     면세점  ...       36       -5          22
68      미국  의류 및 패션 관련상품  면세점 이외  ...    12444    22365       17679
69      미국      스포츠·레저용품       계  ...      952     1634        1771
70      미국      스포츠·레저용품     면세점  ...        0        0           0
71      미국      스포츠·레저용품  면세점 이외  ...      952     1634        1771
72      미국           화장품       계  ...    12402    11594        8581
73      미국           화장품     면세점  ...      625      337          47
74      미국           화장품  면세점 이외  ...    11777    11257        8534
75      미국       아동·유아용품       계  ...      944     1331        1163
76      미국       아동·유아용품     면세점  ...        0        0           0
77      미국       아동·유아용품  면세점 이외  ...      944     1331        1163
78      미국         음·식료품       계  ...     1187      469         398
79      미국         음·식료품     면세점  ...       25        5           7
80      미국         음·식료품  면세점 이외  ...     1162      464         391
81      미국         농축수산물       계  ...        2       12           8
82      미국         농축수산물     면세점  ...        0        0           0
83      미국         농축수산물  면세점 이외  ...        2       12           8
84      미국  생활용품 및 자동차용품       계  ...     2212     3054        2935
85      미국  생활용품 및 자동차용품     면세점  ...        0        0           0
86      미국  생활용품 및 자동차용품  면세점 이외  ...     2212     3054        2935
87      미국           기 타       계  ...     7794     9667        6407
88      미국           기 타     면세점  ...        0        0           0
89      미국           기 타  면세점 이외  ...     7794     9667        6407

[45 rows x 22 columns]

In [23]:
# tidy data 만들기
df = df_raw.melt(id_vars=["국가(대륙)별", "상품군별", "판매유형별"], var_name="기간", value_name="백만원")

In [26]:
df.head()

  국가(대륙)별        상품군별   판매유형별        기간     백만원
0      합계          합계       계  2016 1/4  511395
1      합계          합계     면세점  2016 1/4       -
2      합계          합계  면세점 이외  2016 1/4       -
3      합계  컴퓨터 및 주변기기       계  2016 1/4    4211
4      합계  컴퓨터 및 주변기기     면세점  2016 1/4       -

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8550 entries, 0 to 8549
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가(대륙)별  8550 non-null   object
 1   상품군별     8550 non-null   object
 2   판매유형별    8550 non-null   object
 3   기간       8550 non-null   object
 4   백만원      8550 non-null   object
dtypes: object(5)
memory usage: 334.1+ KB

In [30]:
df["연도"] = df["기간"].map(lambda x: x.split()[0])
df.head()

  국가(대륙)별        상품군별   판매유형별        기간     백만원    연도
0      합계          합계       계  2016 1/4  511395  2016
1      합계          합계     면세점  2016 1/4       -  2016
2      합계          합계  면세점 이외  2016 1/4       -  2016
3      합계  컴퓨터 및 주변기기       계  2016 1/4    4211  2016
4      합계  컴퓨터 및 주변기기     면세점  2016 1/4       -  2016

In [37]:
df["분기"] = df["기간"].map(lambda x : x.split()[1].split("/")[0])
df.head()

  국가(대륙)별        상품군별   판매유형별        기간     백만원    연도 분기
0      합계          합계       계  2016 1/4  511395  2016  1
1      합계          합계     면세점  2016 1/4       -  2016  1
2      합계          합계  면세점 이외  2016 1/4       -  2016  1
3      합계  컴퓨터 및 주변기기       계  2016 1/4    4211  2016  1
4      합계  컴퓨터 및 주변기기     면세점  2016 1/4       -  2016  1

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8550 entries, 0 to 8549
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가(대륙)별  8550 non-null   object
 1   상품군별     8550 non-null   object
 2   판매유형별    8550 non-null   object
 3   기간       8550 non-null   object
 4   백만원      7350 non-null   object
 5   연도       8550 non-null   object
 6   분기       8550 non-null   object
dtypes: object(7)
memory usage: 467.7+ KB

In [40]:
# 금액을 수치 데이터로 표현하기 위해 데이터 타입 변경
df["백만원"] = df["백만원"].replace("-", pd.np.nan)
df["백만원"]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

0       511395
1          NaN
2          NaN
3         4211
4          NaN
         ...
8545         0
8546       353
8547       761
8548         0
8549       761
Name: 백만원, Length: 8550, dtype: object

In [45]:
df = df[(df["국가(대륙)별"] != "합계") & (df["상품군별"] != "합계")].copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7182 entries, 48 to 8549
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가(대륙)별  7182 non-null   object
 1   상품군별     7182 non-null   object
 2   판매유형별    7182 non-null   object
 3   기간       7182 non-null   object
 4   백만원      6174 non-null   object
 5   연도       7182 non-null   object
 6   분기       7182 non-null   object
dtypes: object(7)
memory usage: 448.9+ KB

In [46]:
df.isnull().sum()

국가(대륙)별       0
상품군별          0
판매유형별         0
기간            0
백만원        1008
연도            0
분기            0
dtype: int64